.success-main{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 186px);
    justify-content: space-around;
}

.contact-success__title{
    font-size: 3rem;
}