.projects{
    align-items: center;
    background-color: #FAFAFA;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 2rem 10% 10rem;
    width: 100%;

    position: relative;
}

.projects-title{
    font-size: 2rem;
    margin-top: 3rem;
}

.projects-wrapper{
    /* border-top: 1px solid #DDD; */
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0;
    width: 100%;
}

.project-item{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 320px;
    justify-content: center;
    margin: 25px;
    width: calc(100% / 2 - 50px);
}

.project-item--blur{
    filter: grayscale(1);
}

.project-link{
    background-color: #FFF;
    border: 1px solid #333;
    border-radius: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: 
        "title title"
        "description image"
        "languages image";
    height: 320px;
    width: 100%;
}

.project-title-wrapper{
    align-items: center;
    border-bottom: 1px solid #333;
    display: flex;
    grid-area: title;
    justify-content: center;
}

.project-title-wrapper:hover{
    background-color: #FFFF00;
}

.project-title{    
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.project-description-wrapper{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    grid-area: description;
    justify-content: center;
    padding: 0 1rem;
}

.project-description-wrapper:hover{
    background-color: #FFFF00;
}

.project-description{
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.project-languages-wrapper{
    align-items: center;
    border-top: 1px solid #333;
    box-sizing: border-box;
    display: flex;
    grid-area: languages;
    justify-content: center;
    padding: 0 .5rem;
}

.project-languages-wrapper:hover{
    background-color: #FFFF00;
}

.project-languages{
    font-size: 1.125rem;
    line-height: 1.25rem;
    text-transform: uppercase;
}

.project-image-wrapper{
    align-items: center;
    border-left: 1px solid #333;
    display: flex;
    grid-area: image;
    justify-content: center;
}

.project-image-wrapper:hover{
    background-color: #FFFF00;
}

.project-image-wrapper:hover .project-image{
    box-shadow: 5px 5px 10px #333;
}

.project-image{
    border-radius: 5px;
    width: 50%;
}

.project-button{
    align-self: flex-end;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    height: 24px;
    margin: .5rem;
    text-transform: uppercase;
    width: 160px;
}

.project-button:hover{
    border-bottom: 3px solid #FFFF00;
}

.projects-button{
    align-items: center;
    box-sizing: border-box;
    color: #333;
    display: flex;
    font-size: 1.25rem;
    font-weight: 700;
    height: 32px;
    padding: 0 .5rem;
    text-transform: uppercase;
    transform: translateY(50%);
}

.projects-button:hover{
    border-bottom: 3px solid #FFFF00;
}

.projects-button-icon::after{
    color: #333;
    content: '\e8e4';
    margin-left: .5rem;
}

@media screen and (max-width: 768px) {
    .projects-wrapper{
        flex-direction: column;
        padding: 3rem 0;
    }

    .project-item{
        flex-direction: column;
        height: 320px;
        margin: 0;
        width: 100%;
    }

    .project-link{
        height: 240px;
        width: 100%;
    }

    .project-title{    
        font-size: 1.25rem;
    }    

    .project-description{
        font-size: 1.125rem;
        line-height: 1.625rem;
    }

    .project-languages{
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .projects-button{
        border-bottom: 3px solid #FFFF00;
        padding: 1.5rem 0;
        text-align: center;
        transform: translateY(50%);
    }    
}

